---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    I am a dedicated computer science student with a deep passion for cutting-edge technologies like <strong>TensorFlow and Firebase</strong>. My journey in the field began with hands-on experience in both academic and professional settings. As a research assistant, I delved into the fascinating realm of <strong>face recognition systems</strong>, exploring the intricacies of machine learning algorithms to develop robust solutions. Additionally, my internship exposed me to the challenges of <strong>low-resolution image classification</strong>, where I honed my skills in data preprocessing and model optimization.
 </p>
 <p>
    Collaboration is at the heart of my approach to problem-solving. Whether working alongside fellow researchers or collaborating with cross-functional teams during my internship, I thrive in environments where <strong>diverse perspectives converge</strong> to tackle complex challenges. My ability to communicate effectively and adapt to different working styles has been instrumental in driving projects forward and achieving impactful results.
 </p>
 <p>
    Beyond technical expertise, I bring a relentless drive to innovate and create software solutions that make a difference in people's lives. Whether it's enhancing user experiences or optimizing system performance, I am committed to delivering solutions of the <strong>highest quality</strong>. With a focus on <strong>continuous learning</strong> and a passion for pushing the boundaries of what's possible, I am excited to contribute my skills and enthusiasm to projects that have a meaningful impact on millions of users worldwide.
 </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiences web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experience desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experience al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiences. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
