---
import Card from "./Card.astro"
import LinkButton from "./LinkButton.astro"

const BLOGS = [
  {
    title: "Blog Post 1",
    description: "This is a description for the first blog post.",
    link: "#",
    image: "/projects/svgl.webp",
  },
  {
    title: "Blog Post 2",
    description: "This is a description for the second blog post.",
    link: "#",
    image: "/projects/adventjs.webp",
  },
]
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {
    BLOGS.map(({ image, title, description, link }) => (
      <Card
        img={image}
        title={title}
        description={description}
        link={link}
      />
    ))
  }
</div>
<div class="flex justify-center mt-8">
  <LinkButton href="#">
    Read More
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="icon icon-tabler icon-tabler-arrow-right"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M5 12l14 0"></path>
      <path d="M13 18l6 -6"></path>
      <path d="M13 6l6 6"></path>
    </svg>
  </LinkButton>
</div>
