---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<article
  class="group relative flex flex-col items-start border border-neutral-200 p-6 transition-all duration-300 ease-in-out hover:shadow-lg dark:border-neutral-800"
>
  <h2 class="text-lg font-semibold tracking-tight text-neutral-800 dark:text-neutral-200">
    {title}
  </h2>
  <p class="mt-2 text-sm text-neutral-600 dark:text-neutral-400">
    {body}
  </p>
  <a class="absolute inset-0" href={href}></a>
</article>
